body {
    background-image: url("img/skulls.png");
    background-size: cover;
    font-family: 'Special Elite', cursive;
    width:100%;
  }

h1 {
  color: #f2ddb6;
  background-color: #01420C;
  text-align: center;
  width: 100%;
  border: solid 2px #014034;
  padding-top: 0.5%;
  position:fixed;
  top:0%;
  z-index: 1;
}

#poem {
  margin-top: 6%;
  background-color:;
  color:#01420C;
  font-size: 20px;
  width:64%;
  position: relative;
  left:4%

}

table {
  width:75%;
  color: #476c5e;
  border-style: hidden;
  margin-left:auto;
  margin-right:4%;
  }

#newShop {
  position:absolute;
  right:1100px;
  top:310px;
  left:20px;
  color: #476c5e;
  margin-left:auto;
  margin-right:auto;
}

#ipsum {
  color:#01420C;
  font-size:18px;
  width:70%;
  position:relative;
  left:22%;
}


.time-of-day{
  border-style: double;
  padding:3px;
  text-align:center;
}

#daily-total {
  border-style: double;
}

#times {
  border-style: double;
}

td {
  border-style: double;
  color: black;
  padding:5px;
  text-align:center;
}

#btn {
  border-radius: 25px;
}
 #shopForm {
  float:left;
 }

#donut {
  float:left;
}

#footer {
  color: #f2ddb6;
  background-color: #01420c;
  height:20px;
  padding-top:7px;
  text-align: center;
}


