body {
    background-image: url("img/skulls.png");
    background-size: cover;
    font-family: 'Special Elite', cursive;
    width:100%;
  }

h1 {
  color: #f2ddb6;
  background-color: #01420C;
  text-align: center;
  width: 100%;
  border: solid 2px #014034;
  padding-top: 0.5%;
  position:fixed;
  top:0%;
  z-index: 1;
}

#poem {
  margin-top: 12%;
  background-color:;
  color:#01420C;
  font-size: 20px;
  width:95%;
  position: relative;
  left:2%

}

table {
  width:75%;
  color: #476c5e;
  border-style: hidden;
  margin-left:auto;
  margin-right:4%;
  }

#newShop {
  position:absolute;
  right:1100px;
  top:555px;
  left:20px;
  color: #476c5e;
  margin-left:auto;
  margin-right:auto;
}

#ipsum {
  color:#01420C;
  font-size:18px;
  width:80%;
  position:relative;
  left:2%;
  margin-top: 60px;
  margin-bottom: 55px;
}

#para {
  display: inline;
  position:relative;
  left:20%;
  max-width: 80%
}

.time-of-day{
  border-style: double;
  padding:3px;
  text-align:center;
}

#daily-total {
  border-style: double;
}

#times {
  border-style: double;
}

td {
  border-style: double;
  color: black;
  padding:5px;
  text-align:center;
}

#btn {
    -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  -webkit-box-shadow: 3px 2px 6px #2e2e2e;
  -moz-box-shadow: 3px 2px 6px #2e2e2e;
  box-shadow: 3px 2px 6px #2e2e2e;
  font-family: Georgia;
  color: #fff0a3;
  font-size: 25px;
  background: #066e00;
  padding: 1px 10px 1px 10px;
  text-decoration: none;
}

.btn:hover {
  background: #169400;
  text-decoration: none;
}

 #shopForm {
  float:left;
 }

#donut {
  float:left;
}

#footer {
  color: #f2ddb6;
  background-color: #01420c;
  height:20px;
  padding-top:7px;
  text-align: center;
}

@keyframes slide {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left:325px;
    top:40px;
  }
  50% {
    left: 650px;
    top: 0px;
  }
  75% {
    left: 975px;
    top: 40px;
  }
  100% {
    left: 1300px;
    top: 0;
  }
}
.stage {
  height: 110px;
  position: relative;
  min-width: 538px;
  left:-70px;
  top: 20px;
}
.stage:hover .donutimg {
  animation: slide 2.5s linear;
  animation-iteration-count: infinite;
}
.donutimg {
  height: 50px;
  position: absolute;
  width: 50px;

}
